.background {
  width: 100%;
}

.container {
  min-width: 33%;
  display: table;
  position: absolute;
  top: 10%;
  left: 33%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.sun-icon {
  height: 50px;
  width: 50px;
  margin-top: 20px;
  cursor: pointer;
}

.moon-icon {
  height: 35px;
  width: 35px;
  margin-top: 25px;
  cursor: pointer;
}

.ul {
  width: 100%;
  padding: 0;
}

.button-add-task {
  border: solid rgb(167, 169, 194);
  width: 5px;
  height: 20px;
  text-align: center;
  border-radius: 15px;
}

.radio {
  margin-left: 15px;
  margin-top: 13px;
}

ul {
  list-style-type: none;
}

.input {
  border: none;
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 27%;
  height: 70%;
}
